alabaster==1.0.0
apeye==1.4.1
apeye-core==1.1.5
autodocsumm==0.2.15
babel==2.17.0
beautifulsoup4==4.14.3
brotli==1.2.0
CacheControl==0.14.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.4.0
cssselect2==0.9.0
dict2css==0.5.0
docutils==0.21.2
domdf_python_tools==3.10.0
filelock==3.29.0
fonttools==4.63.0
html5lib==1.1
idna==3.11
imagesize==1.4.1
Jinja2==3.1.6
libsass==0.23.0
MarkupSafe==3.0.3
msgpack==1.1.2
natsort==8.4.0
packaging==25.0
pillow==12.2.0
platformdirs==4.9.6
polib==1.2.0
pycparser==3.0
pydyf==0.12.1
Pygments==2.19.2
pyphen==0.17.2
python-dotenv==1.2.1
PyYAML==6.0.3
regex==2026.5.9
requests==2.33.1
roman==5.2
roman-numerals==4.1.0
roman-numerals-py==4.1.0
ruamel.yaml==0.18.16
setuptools==80.9.0
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.8.3
Sphinx==9.1.0
sphinx-autodoc-typehints==3.10.2
sphinx-carousel==1.2.0
sphinx-copybutton==0.5.2
sphinx-jinja2-compat==0.4.1
sphinx-lint==1.0.2
sphinx-new-tab-link==0.8.1
sphinx-prompt==1.10.2
sphinx-simplepdf==1.7.0
sphinx-tabs==3.4.5
sphinx-toolbox==4.1.2
sphinx_design==0.7.0
sphinx_rtd_theme==3.1.0
sphinx_tamer==0.2.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-extdevhelper-kasane==0.2.1
sphinxcontrib-googleanalytics==0.5
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-video==0.4.2
standard-imghdr==3.10.14
tabulate==0.10.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
urllib3==2.6.2
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1