name: "Sphinx: Render Docs"

on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: false
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Tags to run'
        required: false
        type: string

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
              with:
                persist-credentials: false
            - name: Build HTML
              uses: tstrade/RoboFlock-Documentation@main
            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                name: html-docs
                path: docs/build/html/
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              if: github.ref == 'refs/heads/main'
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: docs/build/html